body {
    font-family: "Hiragino Sans GB", "Microsoft Yahei", "SimSun", "Arial", "Helvetica Neue", "Helvetica", serif;
    font-size: 14px;
    color: #333333;
}

/*版心 1240px*/
.inner-c{
    width: 1240px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #515151;
}
a:hover {
    color: #18beef;
}

