<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
<div id="app">
    <h1>插值表达式</h1>
    <h3>{{msg}}</h3>
    <h3>{{count}}</h3>
    <h1>v-text</h1>
    <div v-text="msg"></div>
    <h1>v-model</h1>
    <input type="text" v-model="msg">
    <input type="text" v-model="count">
</div>
<script src="./js/dep.js"></script>
<script src="./js/watcher.js"></script>
<script src="./js/compiler.js"></script>
<script src="./js/observer.js"></script>
<script src="./js/vue.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            msg: 'Hello Vue',
            count: 20,
            person:{//对象的属性需要变成响应式数据
                name:'张三'
            }
        }
    });
    //当msg属性值变为一个对象，对象中的属性需要变成响应式的数据
    // vm.msg = {name:'test'}
    //注意 text不是响应式的 因为它不是data中的属性 vue中不允许在整体的属性上添加响应式的数据，响应式的数据都在data中
    //给Vue实例新增一个成员不是响应式
    vm.text = 123
</script>
</body>
</html>
