/* 初始化样式 */
body {
    /* 设置全局的字体样式 */
    font-size: 14px;
    font-family: "Hiragino Sans GB", "Microsoft Yahei", "SimSun", "Arial", "Helvetica Neue", "Helvetica", serif;
    color: #333;
}

/* a标签的公共样式 */
a {
    color: #343434;
    text-decoration: none;
}

a:hover {
    color: #337ab7;
}

/* 公共样式 版心*/
.inner-c {
    width: 1278px;
    margin: 0 auto;
}
