.copyright{
    width: 100%;
    height: 50px;
    background: #265686;
}
.copyright-c{
    width: 926px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    color: #FFFFFF;
}

.copyright-c span {
    margin-right: 20px;
}


